body {
    font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
}

.versions ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.versions li {
    font-size: 0.75em;
}

.header {
    background-color: #0D112B;
    height: 54px;
    padding: 32px 20px 24px;
}

.header .logo {
    height: 40px;
    display: inline-block;
    margin-right: 24px;
    vertical-align: top;
}

.header h1 {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 19.5px;
    font-weight: 400;
    line-height: 40px;
}

.readme {
    width: 905px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.versions {
    margin: 30px 0;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}